body {
  padding: 0;
  margin: 0;
  color: #333;
  font-size: 16px;
  font-family: helvetica, arial, san-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
}
/* 
  'NW' is the 'namespace' for all CSS classes
  to avoid clashes with any other CSS libraries used
*/
.nw-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.nw-weather-btns {
  margin-bottom: 40px;
}
.nw-btn {
  display: block;
  border: none;
  margin: 5px 0;
  padding: 10px 15px;
  font-size: 16px;
  background: steelblue;
  color: white;
  text-decoration: none;
}
.nw-btn:hover {
  text-decoration: underline;
}
.nw-table {
  border-collapse: collapse;
  width: 100%;
}
.nw-table td {
  padding: 5px;
  border: 1px solid #ddd;
}